:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  height: 7vh;
  width: 100vw;
  background: rebeccapurple;
  display: grid;
  place-content: center;
}

.grid__productos {
  display: grid;
  place-content: center;
  height: 7vh;
  width: 30vw;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  transform: translateY(15vh);
}

.gird__productos--title{
  display: grid;
  place-content: center;
}

.gird__productos--buttonImg {
  height: 4.5vh;
  background: white;
  border-radius: 100%;
}

.App__menu {
  position: absolute;
  top: 8.5vh;
  left: 3vw;
  height: 27vh;
  width: 93vw;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  justify-self: center;
}

.App__menu--button {
  width: 12vw;
  margin-top: 1.2vh;
  justify-self: center;

}

.autofocus__container {
  width: 36vw;
  display: flex;
  justify-content: space-evenly;
}

.InitReducer__list {
  background-color: rebeccapurple;
}

.StateReducer__list {
  background-color: skyblue;
}

.App__container {
  position: absolute;
  top: 45vh;
  left: 3vw;
  min-height: 39vh;
  max-height: 51vh;
  width: 93vw;
  overflow-y: scroll;
  display: grid;
  justify-content: center;
}

.Berries{
  background-color: #646cff;
  width: 30vw;
  display: grid;
  justify-content: center;
  border-radius: 15px;
}

.Berries__Title {
  display: grid;
  height: 2.7vh;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0.9vh 0 3vh;
  font-size: 1.5vw;
}

.Berries__GrowthTime {
  display: flex;
  width: 24vw;
  height: 3vh;
  align-items: center;
  justify-content: center;
}

.Berries__GrowthTime--title {
  font-size: 0.9vw;
}

.Berries__GrowthTime--value{
  font-size: 1.2vw;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transform: translateY(3vh);
}

.products__buttons {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
}

.product {
  width: 21vw;
  height: 21vw;
  background: grey;
  display: grid;
  border-radius: 15px;
  margin-bottom: 3vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  overflow: hidden;
}

.left {
  width: 21vw;
  height: 10.5vw;
  background-color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: contain;
}

.right {
  width: 21vw;
  height: 10.5vw;
}